<% if resource.errors.any? %>
  <div id="error_explanation">
      <% resource.errors.full_messages.each do |message| %>
        <p  class="alert alert-danger m-1" role="alert"><%= message %></p> 
      <% end %>
  </div>
<% end %>
