/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
 body {
    background: #f1f5f9!important;
    min-height: 100vh;
 }


 .background-main {
    background: rgb(24,61,113);
    background: linear-gradient(191deg, rgba(24,61,113,1) 0%, rgba(33,42,55,1) 100%);
 }
.details {
   max-height: 100% !important;
}

 .container{
    margin-top: -120px;
    min-height: 200px;
    max-height: 500px;
    overflow-y: auto;
 }

 .nav-background {
    min-height: 250px;
    background: rgb(24,61,113);
    background: linear-gradient(191deg, rgba(24,61,113,1) 0%, rgba(33,42,55,1) 100%);
 }
