<% if user_signed_in? %>
  <div class="px-5 text-white nav-background">
    <nav class="navbar navbar-expand-lg navbar-dark ">
      <div class="container-fluid d-flex justify-content-around">
        <%= link_to raw('Juicy <i class="fa-solid fa-link"></i> Url'), root_url , {:class=> "navbar-brand fs-2"} %>
        <%= link_to 'My Links', links_url, {:class=> "btn btn-success"} %>
      </div>
    </nav>
  </div>
<%end%>
